/* LAYOUT */
body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* LAYOUT HEADER */
.ms_navbar {
    height: 70px;
    width: 100%;
}

/* LAYOUT SIDEBAR */
.page-main {
    height: calc(100% - 70px);
}

.page-main .ms_col_sidebar {
    /* max-width: 150px;
    width: 150px; */
    padding: 32px 24px;
}

/* STYLE HEADER */

/* STYLE SIDEBAR */
.page-main .ms_col_sidebar {
    background-color: #051E34;
    height: 100%;
}     

/* STYLE NEW STUDENT */


/* MEDIA QUERY */

/* DEBUG */ 
