img {
    width: 100%;
}

/* LAYOUT */
body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* LAYOUT HEADER */
.ms_navbar {
    height: 70px;
    width: 100%;
}

/* LAYOUT SIDEBAR */
.page-main {
    height: calc(100% - 70px);
}

.page-main .ms_col_sidebar {
    padding: 32px 24px;
}

/* LAYOUT PAGE-CARD */
.ms_page_card {
    height: calc(100% - 100px);
}

.ms_img_table {
    width: 35px;
}

/* STYLE HEADER */

/* STYLE SIDEBAR */
.page-main .ms_col_sidebar {
    background-color: #051E34;
    height: 100%;
}     

/* STYLE NEW STUDENT */
.ms_new_student {
    background-color: #1B72E8;
}

.ms_badge {
    display: inline-block;
    background-color: #165BBA;
}
/* MEDIA QUERY */

/* DEBUG */ 


